# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  GOPATH: $(Agent.BuildDirectory)/go
  PATH: $(Agent.BuildDirectory)/go/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
  GO_VER: 1.13.8
  NODE_VER: 10.19
  
jobs:
- job: e2e_test_BDD
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - template: install_deps.yml
  - checkout: self
    clean: true
    fetchDepth: 3
    path: go/src/github.com/hyperledger/fabric

  - script: |
            mkdir -p $(Pipeline.Workspace)/dev
            cd $(Pipeline.Workspace)/dev
            git clone https://github.com/nekia/fabric-block-archiving-testenv.git

  - script: |
            make peer-docker
            make configtxgen
            make cryptogen
    workingDirectory: '$(Pipeline.Workspace)/go/src/github.com/hyperledger/fabric'

  - script: |
            cd e2e-test
            pip install -r requirements.txt
            export PATH=$(Pipeline.Workspace)/go/src/github.com/hyperledger/fabric/.build/bin:$PATH
            ./runTestSuite.sh
    workingDirectory: '$(Pipeline.Workspace)/dev/fabric-block-archiving-testenv'
